body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #03396c;
  color: #fff;
  padding: 10px 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  font-size: 20px;
}

.nav-links a {
  color: #fff;
  margin-right: 20px;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ffd700;
}

.notification-icon {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.notification-count {
  position: absolute;
  top: -8px;
  right: -6px;
  background-color: red;
  color: white;
  border-radius: 100%;
  padding: 5px;
  font-size: 12px;
}

.notification-menu {
  display: none;
  position: absolute;
  top: 30px;
  right: 0;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  min-width: 200px;
  z-index: 1000;
}

.notification-menu-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  background-color: #f0f0f0; /* Background color for unread notifications */
  color: #000000;
}

.notification-menu-item:last-child {
  border-bottom: none;
}

.notification-menu-item.unread {
  background-color: #cddeeb; /* Background color for unread notifications */
  color: #000000;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 110PX;
}

h1 {
  text-align: center;
  color: #03396c; /* Blue */
  margin-bottom: 30px;
}

form div {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

textarea {
  height: 150px;
}

input[type="submit"] {
  background-color: #03396c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #005b96;
}
