body {
    background-color: #f0f0f0; 
    font-family: Arial, sans-serif;
    padding-top: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.header {
    margin-bottom: 50px; /* Increased margin between header and buttons */
    margin-top: 30px; /* Added margin between header and top buttons */
    color: #03396c;
}

.button-group {
    display: flex;
    margin-bottom: 40px; /* Default space between button groups */
}

.category-button {
    width: 250px; /* Square button with width 50px */
    height: 100px; /* Square button with height 50px */
    margin: 10px;
    font-size: 30px; /* Adjust font size */
    border: none;
    border-radius: 10px; /* Slightly rounded corners */
    cursor: pointer;
    background-color: #6497b1; /* Light blue button color */
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.category-button:hover {
    transform: scale(1.1); /* Increase size on hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    background-color: #0099cc; /* Darker blue on hover */
}


.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #03396c;
    color: #fff;
    padding: 10px 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 20px;
}

.nav-links a {
    color: #fff;
    margin-right: 20px;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ffd700;
}

.notification-icon {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.notification-count {
    position: absolute;
    top: -8px;
    right: -6px;
    background-color: red;
    color: white;
    border-radius: 100%;
    padding: 5px;
    font-size: 12px;
}

.notification-menu {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    min-width: 200px;
    z-index: 1000;
}

.notification-menu-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    background-color: #f0f0f0; /* Background color for unread notifications */
    color: #000000;
}

.notification-menu-item:last-child {
    border-bottom: none;
}

.notification-menu-item.unread {
    background-color: #cddeeb; /* Background color for unread notifications */
    color: #000000;
}