body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b3cde0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 50px;
}

.edit-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.edit-box {
    text-align: left;
}

.edit-heading {
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.save-btn {
    background-color: #011f4b;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.save-btn:hover {
    background-color: #0099cc;
}

.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #03396c;
    color: #fff;
    padding: 10px 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 20px;
}

.nav-links a {
    color: #fff;
    margin-right: 20px;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ffd700;
}

.notification-icon {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.notification-count {
    position: absolute;
    top: -8px;
    right: -6px;
    background-color: red;
    color: white;
    border-radius: 100%;
    padding: 5px;
    font-size: 12px;
}

.notification-menu {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    min-width: 200px;
    z-index: 1000;
}

.notification-menu-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    background-color: #f0f0f0; /* Background color for unread notifications */
    color: #000000;
}

.notification-menu-item:last-child {
    border-bottom: none;
}

.notification-menu-item.unread {
    background-color: #cddeeb; /* Background color for unread notifications */
    color: #000000;
}